@use '@/styles/variables.scss' as *;

.avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: $radius-round;
  overflow: hidden;
  background: $color-bg-hover;
  flex-shrink: 0;

  &-sm {
    width: 64rpx;
    height: 64rpx;
  }

  &-lg {
    width: 120rpx;
    height: 120rpx;
  }

  &-xl {
    width: 160rpx;
    height: 160rpx;
  }

  &Img {
    width: 100%;
    height: 100%;
    border-radius: $radius-round;
  }
}
